In [16]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

import matplotlib.pyplot as plt
%matplotlib inline

from IPython.display import display

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 10000)
pd.set_option('display.max_rows', 8)

path = 'ppdai_3_23'

In [17]:
loan_characteristics = pd.read_csv(path + '/LC.csv')
loan_characteristics = loan_characteristics.rename(columns={
        '初始评级': 'initialGrade', '性别': 'sex', "借款期限": "totalPeriod","历史逾期还款期数":"overDuePeriod",
    "历史正常还款期数": "repayment", "借款金额": "money", "年龄": "age", "手机认证": "phone", "户口认证": "census", "视频认证": "video",
    "学历认证": "edu", "征信认证": "credit", "淘宝认证": "taobao"})
loan_characteristics.replace(to_replace="成功认证", value='Y',inplace=True, regex=False)
loan_characteristics.replace(to_replace="未成功认证", value='N',inplace=True, regex=False)

loan_periodic = pd.read_csv(path + '/LP.csv')
loan_periodic = loan_periodic.rename(columns={'到期日期': 'dueDate', '还款日期': 'payDate', '还款状态': 'status'})
display(loan_characteristics.shape, loan_periodic.shape)

(328553, 21)

(3203276, 10)

In [19]:
# calc overDue for LP, save it into file
import datetime

def calc_over_due(x):
    dueDate = x['dueDate']
    payDate = x['payDate']
    
    over_due = -9999

    if x['status'] != 0:
        overDue = datetime.datetime.strptime(payDate, '%Y-%m-%d') - datetime.datetime.strptime(dueDate, '%Y-%m-%d')
        over_due = overDue.days

    return over_due

def saveToFile():
    loan_periodic['overDue'] = loan_periodic.apply(calc_over_due, axis=1)
    loan_periodic.to_csv(path + '/LP_handle.csv', encoding="utf-8")


loan_periodic = pd.read_csv(path + '/LP_handle.csv')
display(loan_periodic.head(2))

   Unnamed: 0  ListingId  期数  status     应还本金    应还利息  剩余本金  剩余利息     dueDate     payDate  recorddate  overDue
0           0     126541   1       1  1380.23  270.00   0.0   0.0  2015-06-04  2015-06-04  2017-02-22        0
1           1     126541   2       1  1400.94  249.29   0.0   0.0  2015-07-04  2015-07-04  2017-02-22        0

In [21]:
#  calc maxOverDue for LC, save it to file
def saveMaxOverDueToFile():
    loan_periodic_overDue_greatEqual_0 = loan_periodic[(loan_periodic.overDue >= 0)]
    loan_all = pd.merge(loan_periodic_overDue_greatEqual_0, loan_characteristics)
    loan_all["maxOverDue"] = loan_all.groupby("ListingId")["overDue"].transform(max)
    pd_maxOverDue = loan_all[["ListingId", "maxOverDue"]].drop_duplicates();
    pd_temp1 = pd.merge(loan_characteristics, pd_maxOverDue, "outer")
    pd_temp1.to_csv(path + '/LC_handle.csv', encoding='utf-8');
    display(pd_temp1.head(1))

saveMaxOverDueToFile()

   ListingId  money  totalPeriod  借款利率      借款成功日期 initialGrade 借款类型 是否首标  age sex phone census video edu credit taobao  历史成功借款次数  历史成功借款金额    总待还本金  repayment  overDuePeriod  maxOverDue
0     126541  18000           12  18.0  2015-05-04            C   其他    否   35   男     Y      N     Y   N      N      N        11   40326.0  8712.73         57             16         2.0

In [ ]:
loan_characteristics_ab = loan_characteristics[(loan_characteristics.initialGrade == "B") | (loan_characteristics.initialGrade == "A")]
loan_main = pd.merge(loan_characteristics, loan_periodic, on='ListingId')
loan_main_ab = loan_main[(loan_main.initialGrade == "B") | (loan_main.initialGrade == "A")]
display(loan_main_ab.head(2))

In [9]:
print(loan_characteristics_ab.shape)
print(loan_main_ab.shape)
print(loan_periodic.shape)
display(loan_periodic.head(1))

(43472, 21)
(375440, 30)
(3203276, 10)

   ListingId  期数  status     应还本金   应还利息  剩余本金  剩余利息     dueDate     payDate  recorddate
0     126541   1       1  1380.23  270.0   0.0   0.0  2015-06-04  2015-06-04  2017-02-22

In [10]:
loan_periodic_filter = loan_periodic[loan_periodic.payDate != "\\N"]
loan_periodic_filter['payDate'] = pd.to_datetime(loan_periodic_filter['payDate'])
loan_periodic_filter['dueDate'] = pd.to_datetime(loan_periodic_filter['dueDate'])
loan_periodic_filter['overDue'] = loan_periodic_filter['payDate'].sub(loan_periodic_filter['dueDate'])
display(loan_periodic_filter.head(10))
display(loan_periodic_filter[loan_periodic_filter['overDue'] > "15 days"])
#loan_periodic["overDue"] = pd.to_datetime(loan_periodic["payDate"]).subtract(pd.to_datetime(loan_periodic["dueDate"]), fill_value=0)

d:\program files\python35\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
d:\program files\python35\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
d:\program files\python35\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   ListingId  期数  status     应还本金    应还利息  剩余本金  剩余利息    dueDate    payDate  recorddate  overDue
0     126541   1       1  1380.23  270.00   0.0   0.0 2015-06-04 2015-06-04  2017-02-22   0 days
1     126541   2       1  1400.94  249.29   0.0   0.0 2015-07-04 2015-07-04  2017-02-22   0 days
2     126541   3       1  1421.95  228.28   0.0   0.0 2015-08-04 2015-08-04  2017-02-22   0 days
3     126541   4       1  1443.28  206.95   0.0   0.0 2015-09-04 2015-09-04  2017-02-22   0 days
4     126541   5       1  1464.93  185.30   0.0   0.0 2015-10-04 2015-10-04  2017-02-22   0 days
5     126541   6       1  1486.90  163.33   0.0   0.0 2015-11-04 2015-11-04  2017-02-22   0 days
6     126541   7       2  1509.21  141.02   0.0   0.0 2015-12-04 2015-12-05  2017-02-22   1 days
7     126541   8       1  1531.85  118.38   0.0   0.0 2016-01-04 2016-01-04  2017-02-22   0 days
8     126541   9       2  1554.82   95.41   0.0   0.0 2016-02-04 2016-02-05  2017-02-22   1 days
9     126541  10       2  1578.15   72.08   0.0   0.0 2016-03-04 2016-03-06  2017-02-22   2 days

         ListingId  期数  status    应还本金    应还利息    剩余本金    剩余利息    dueDate    payDate  recorddate  overDue
200        1536991  10       2  346.18   21.18    0.00    0.00 2015-11-04 2015-12-20  2017-02-22  46 days
201        1536991  11       2  353.10   14.26    0.00    0.00 2015-12-04 2015-12-21  2017-02-22  17 days
245        1538211   7       2  251.67   26.23    0.00    0.00 2015-08-04 2015-09-10  2017-02-22  37 days
283        1541761   6       2  825.13  101.21    0.00    0.00 2015-07-04 2015-08-01  2017-02-22  28 days
284        1541761   7       2  838.88   87.46    0.00    0.00 2015-08-04 2015-10-03  2017-02-22  60 days
285        1541761   8       2  852.86   73.48    0.00    0.00 2015-09-04 2015-10-03  2017-02-22  29 days
287        1541761  10       2  881.53   44.81    0.00    0.00 2015-11-04 2016-03-19  2017-02-22 136 days
336        1547751  11       2  353.22   13.67    0.00    0.00 2015-12-04 2016-01-10  2017-02-22  37 days
569        1563891   9       2  303.48   20.74    0.00    0.00 2015-10-02 2015-11-18  2017-02-22  47 days
570        1563891  10       2  308.54   15.68    0.00    0.00 2015-11-02 2015-11-25  2017-02-22  23 days
571        1563891  11       2  313.68   10.54    0.00    0.00 2015-12-02 2016-03-22  2017-02-22 111 days
572        1563891  12       2  318.86    5.36    0.00    0.00 2016-01-02 2016-03-22  2017-02-22  80 days
573        1565761   1       2  299.09   72.85    0.00    0.00 2015-02-03 2015-03-17  2017-02-22  42 days
649        1573151   3       2  410.97   90.00    0.00    0.00 2015-04-01 2015-04-24  2017-02-22  23 days
650        1573151   4       2  419.19   81.78    0.00    0.00 2015-05-01 2015-06-16  2017-02-22  46 days
1020       1594791   6       4  899.23   13.50    0.00   13.50 2015-07-05 2016-07-25  2017-02-22 386 days
1033       1595521   1       2  477.57   54.99    0.00    0.00 2015-02-05 2015-03-20  2017-02-22  43 days
1035       1595521   3       2  495.24   37.32    0.00    0.00 2015-04-05 2015-04-25  2017-02-22  20 days
1037       1595521   5       2  513.56   19.00    0.00    0.00 2015-06-05 2015-08-17  2017-02-22  73 days
1038       1595521   6       2  522.99    9.57    0.00    0.00 2015-07-05 2015-08-17  2017-02-22  43 days
1061       1597201   1       2  227.90   50.00    0.00    0.00 2015-02-08 2015-03-24  2017-02-22  44 days
1062       1597201   2       2  231.70   46.20    0.00    0.00 2015-03-08 2015-04-24  2017-02-22  47 days
1063       1597201   3       2  235.56   42.34    0.00    0.00 2015-04-08 2015-04-24  2017-02-22  16 days
1128       1603711   4       2  142.75   11.26    0.00    0.00 2015-05-07 2015-05-28  2017-02-22  21 days
1131       1603711   7       2  151.13    2.88    0.00    0.00 2015-08-07 2015-08-23  2017-02-22  16 days
1137       1603911   6       2  247.54   30.36    0.00    0.00 2015-07-05 2015-07-27  2017-02-22  22 days
1138       1603911   7       2  251.67   26.23    0.00    0.00 2015-08-05 2015-09-09  2017-02-22  35 days
1167       1605561   5       2  242.80   37.98    0.00    0.00 2015-06-12 2015-09-15  2017-02-22  95 days
1168       1605561   6       2  247.25   33.53    0.00    0.00 2015-07-12 2015-09-15  2017-02-22  65 days
1169       1605561   7       2  251.79   28.99    0.00    0.00 2015-08-12 2015-09-15  2017-02-22  34 days
...            ...  ..     ...     ...     ...     ...     ...        ...        ...         ...      ...
2694707   28722561   1       2  299.31   72.91    0.00    0.00 2017-01-25 2017-02-11  2017-02-22  17 days
2698532   28752161   1       2  353.73   86.16    0.00    0.00 2017-01-26 2017-02-13  2017-02-22  18 days
2698959   28755381   1       2   77.82   18.95    0.00    0.00 2017-01-26 2017-02-17  2017-02-22  22 days
2701984   28778221   1       2  230.03   45.00    0.00    0.00 2017-01-25 2017-02-10  2017-02-22  16 days
2706569   28820101   1       2  602.09  146.66    0.00    0.00 2017-01-30 2017-02-15  2017-02-22  16 days
2708348   28832491   1       2  523.31   48.90    0.00    0.00 2017-01-27 2017-02-17  2017-02-22  21 days
2710154   28844481   1       2  207.88   40.66    0.00    0.00 2017-01-26 2017-02-12  2017-02-22  17 days
2713129   28866491   1       2  319.71   33.33    0.00    0.00 2017-01-29 2017-02-21  2017-02-22  23 days
2714145   28876331   1       2  103.26   25.15    0.00    0.00 2017-01-29 2017-02-17  2017-02-22  19 days
2714940   28881681   1       2   75.49   18.38    0.00    0.00 2017-01-26 2017-02-14  2017-02-22  19 days
2724185   28963101   1       2  199.06   48.49    0.00    0.00 2017-01-27 2017-02-18  2017-02-22  22 days
2727427   28988731   1       2  204.11   49.71    0.00    0.00 2017-01-27 2017-02-12  2017-02-22  16 days
2728192   28996081   1       2  218.86   53.31    0.00    0.00 2017-01-27 2017-02-16  2017-02-22  20 days
2738049   29089641   1       2  496.73  120.99    0.00    0.00 2017-01-29 2017-02-14  2017-02-22  16 days
2739869   29106371   1       2  190.11   46.30    0.00    0.00 2017-01-28 2017-02-15  2017-02-22  18 days
2742801   29136221   1       2  109.88   26.76    0.00    0.00 2017-01-28 2017-02-13  2017-02-22  16 days
2742960   29137161   1       2  365.62   89.06    0.00    0.00 2017-01-28 2017-02-19  2017-02-22  22 days
2743365   29140091   1       4  511.78  124.66    0.00    0.00 2017-01-29 2017-02-19  2017-02-22  21 days
2755148   29254251   1       2  255.89   62.33    0.00    0.00 2017-01-31 2017-02-16  2017-02-22  16 days
2756337   29268291   1       2   56.45   13.74    0.00    0.00 2017-01-29 2017-02-19  2017-02-22  21 days
2759335   29302671   1       2   75.26   18.33    0.00    0.00 2017-01-30 2017-02-16  2017-02-22  17 days
2762239   29324121   1       4  752.61  183.33  452.61  183.33 2017-01-30 2017-02-15  2017-02-22  16 days
2764205   29343221   1       2  161.13   39.25    0.00    0.00 2017-01-30 2017-02-18  2017-02-22  19 days
2773996   29434821   1       2  591.47   61.66    0.00    0.00 2017-01-31 2017-02-16  2017-02-22  16 days
2782154   29511251   1       2  173.10   42.16    0.00    0.00 2017-02-03 2017-02-22  2017-02-22  19 days
2782391   29512641   1       2  639.43   66.66    0.00    0.00 2017-02-04 2017-02-21  2017-02-22  17 days
2793831   29610441   1       2  176.86   35.26    0.00    0.00 2017-02-02 2017-02-19  2017-02-22  17 days
2805904   29718311   1       2  209.21   30.00    0.00    0.00 2017-02-05 2017-02-21  2017-02-22  16 days
2822011   29843221   1       2  188.53   45.92    0.00    0.00 2017-02-04 2017-02-21  2017-02-22  17 days
2828144   29891401   1       2   94.46   23.00    0.00    0.00 2017-02-04 2017-02-20  2017-02-22  16 days

[18837 rows x 11 columns]