In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

import matplotlib.pyplot as plt

%matplotlib inline

from IPython.display import display


pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 10000)

In [29]:
df_listing_info= pd.read_csv("listinginfo.csv", encoding="utf-8")
df_debt_info = pd.read_csv("debtInfo.csv", encoding="utf-8")

df_all = pd.merge(df_listing_info, df_debt_info, on="ListingId")
display(df_all.head(3))
df_all["HighestDebtRatio"] =  (df_all["OwingAmount"] + df_all["Amount"]) / df_all["HighestDebt"]

df_all["HighestPrincipalRatio"] = df_all["Amount"] / df_all["HighestPrincipal"]

df_all["Overdue/NormalCount"] = (df_all["OverdueLessCount"] + df_all["OverdueMoreCount"]) / df_all["NormalCount"]

df_all["SuccessCount/Total"] = df_all["SuccessCount"] / (df_all["WasteCount"] + df_all["CancelCount"] + df_all["FailedCount"] + df_all["SuccessCount"])


display(df_debt_info.head(3))
display(df_listing_info.head(3))

   Age  Amount  AmountToReceive             AuditingTime     BorrowName  CancelCount  CertificateValidate CreditCode_x  CreditValidate  CurrentRate DeadLineTimeOrRemindTimeStr EducationDegree  FailedCount   FirstSuccessBorrowTime              FistBidTime  Gender GraduateSchool  HighestDebt  HighestPrincipal              LastBidTime    LastSuccessBorrowTime  LenderCount  ListingId  Months  NciicIdentityCheck  NormalCount  OverdueLessCount  OverdueMoreCount  OwingAmount  OwingPrincipal_x  PhoneValidate             RegisterTime  RemainFunding StudyStyle  SuccessCount  TotalPrincipal  WasteCount  AllowanceRadio              BidDateTime CreditCode_y CurrentCreditCode  Days     DebtId         Lender  ListingAmount  ListingMonths  ListingRate              ListingTime  OwingInterest  OwingNumber  OwingPrincipal_y  PastDueDay  PastDueNumber  PreferenceDegree  PriceforSale  PriceforSaleRate         Seller  StatusId
0   28  3200.0                0  2018-06-28T07:59:02.140  pdu7267566128            1                    1            B               1         20.0                   2018/6/28              专科            0  2016-11-07T17:47:25.840  2018-06-28T07:58:54.000       1           许昌学院     13677.26            3200.0  2018-06-28T07:58:56.000  2018-07-28T07:28:46.000           28  119068674      12                   0          179                 0                 0     11843.24          10768.59              1  2016-11-05T21:49:32.000            0.0         成人            20         39100.0           0             0.0  2018-06-28T07:58:54.797            B                 C    31  118927401  pdu2012143746         3200.0             12         20.0  2018-06-28T07:57:22.040          39.73           10            423.40           0              0            -21.14        423.36              20.0  pdu2012143746         1
1   25  4416.0                0  2018-02-07T16:18:26.767  pdu8762813657            0                    0            B               0         22.0                    2018/2/7             NaN            0  2017-03-22T00:01:27.863  2018-02-07T16:18:17.000       2            NaN     12939.61            9000.0  2018-02-07T16:18:25.000  2018-05-10T20:30:06.000           65   98265114      12                   0           45                 4                 0      3656.42           3376.82              1  2016-06-04T17:42:40.000            0.0        NaN             7         25016.0           0             0.0  2018-02-07T16:18:20.477            B                 G    40  118885113    pdu88072202         4416.0             12         22.0  2018-02-07T16:16:50.853           1.23            5             22.17           1              1             35.13         22.04              22.0    pdu88072202         1
2   22   700.0                0  2018-04-06T16:08:25.400  pdu3840624888            0                    1            B               0         22.0                    2018/4/6          专科(高职)            0  2017-07-20T13:13:02.000  2018-04-06T16:08:23.000       1     吉林工业职业技术学院      9952.76            6000.0  2018-04-06T16:08:24.000  2018-08-25T19:37:14.000           11  106518538      12                   0           88                 1                 0      9853.31           8809.62              1  2017-07-20T12:47:20.000            0.0         普通            14         23149.0           0             0.0  2018-04-06T16:08:24.403            B                 E    39  118714017  pdu3341441621          700.0             12         22.0  2018-04-06T16:06:32.803           2.27            7             30.49           0              0              3.66         30.32              22.0  pdu3341441621         1

   AllowanceRadio              BidDateTime CreditCode CurrentCreditCode  Days     DebtId         Lender  ListingAmount  ListingId  ListingMonths  ListingRate              ListingTime  OwingInterest  OwingNumber  OwingPrincipal  PastDueDay  PastDueNumber  PreferenceDegree  PriceforSale  PriceforSaleRate         Seller  StatusId
0             0.0  2018-02-20T13:38:08.193          B                 G    24  118732763  pdu5782221550         3000.0   99851373             12         22.0  2018-02-20T13:36:51.543           6.84            6          105.45           1              3             25.53        105.85              22.0  pdu5782221550         1
1             0.0  2018-02-20T13:27:32.687          B                 F    24  118732764  pdu5782221550         3700.0   99850305             12         22.0  2018-02-20T13:26:40.407           6.85            6          105.45           1              1             11.27        105.86              22.0  pdu5782221550         1
2             0.0  2018-04-19T21:34:53.993          B                 F    23  118732765  pdu5782221550        27490.0  108620927             12         22.0  2018-04-19T21:30:48.870           2.91            8           34.53           2              2             15.60         34.69              22.0  pdu5782221550         1

   Age   Amount  AmountToReceive             AuditingTime     BorrowName  CancelCount  CertificateValidate CreditCode  CreditValidate  CurrentRate DeadLineTimeOrRemindTimeStr EducationDegree  FailedCount   FirstSuccessBorrowTime              FistBidTime  Gender GraduateSchool  HighestDebt  HighestPrincipal              LastBidTime    LastSuccessBorrowTime  LenderCount  ListingId  Months  NciicIdentityCheck  NormalCount  OverdueLessCount  OverdueMoreCount  OwingAmount  OwingPrincipal  PhoneValidate             RegisterTime  RemainFunding StudyStyle  SuccessCount  TotalPrincipal  WasteCount
0   24   2635.0                0  2000-01-01T00:00:00.000  pdu0438218020            0                    0          C               0         24.0                   19天23时54分             NaN            0  2018-01-25T17:11:47.000  2018-08-24T16:23:25.000       2            NaN      6569.28            5000.0  2018-08-24T16:25:17.000  2018-08-04T22:08:56.000           25  126033230      12                   0           13                 0                 0      6569.28         5464.51              1  2018-01-20T22:48:09.000          659.0        NaN             3          7000.0           0
1   47  16000.0                0  2000-01-01T00:00:00.000  pdu5067243086            0                    0          B               0         20.0                   14天23时54分             NaN            0  2016-11-06T19:16:32.070  2018-08-24T16:23:36.000       1            NaN     12663.53            6500.0  2018-08-24T16:24:34.000  2018-01-01T06:21:40.000           80  126033321      12                   0           55                 8                 0         0.00            0.00              1  2016-11-06T15:49:16.000        10373.0        NaN             8         24996.0           0
2   27   5000.0                0  2000-01-01T00:00:00.000  pdu8623860556            0                    0          C               0         24.0                   14天23时55分             NaN            0  2017-06-26T17:14:50.000  2018-08-24T16:23:34.000       2            NaN     23723.64           20000.0  2018-08-24T16:25:20.000  2018-07-25T13:35:56.000           47  126033356       6                   0            9                 4                 0     11075.86        10000.00              1  2017-01-16T12:05:13.000          155.0        NaN             3         31000.0           0

In [3]:
display(df_all[df_all["HighestDebtRatio"] > 0.98].shape)

display(df_all["HighestDebtRatio"].describe())

df_all["Days"].describe()

(701, 59)

count    907.000000
mean       1.158331
std        0.277315
min        0.236521
25%        0.995732
50%        1.145358
75%        1.331095
max        3.211795
Name: HighestDebtRatio, dtype: float64

count    907.000000
mean      35.042999
std        6.770547
min        2.000000
25%       31.000000
50%       33.000000
75%       36.000000
max       78.000000
Name: Days, dtype: float64

In [11]:


display(df_all[df_all["HighestPrincipalRatio"] < 1].shape)

display(df_all["HighestPrincipalRatio"].describe())

(640, 60)

count    907.000000
mean       0.662960
std        0.295735
min        0.055494
25%        0.400000
50%        0.690105
75%        1.000000
max        1.000000
Name: HighestPrincipalRatio, dtype: float64

In [24]:
df_all["Overdue/NormalCount"] = (df_all["OverdueLessCount"] + df_all["OverdueMoreCount"]) / df_all["NormalCount"]

display(df_all[df_all["Overdue/NormalCount"] != 0.000].shape)

display(df_all["Overdue/NormalCount"].describe())

(517, 62)

count    907.000000
mean       0.069504
std        0.159607
min        0.000000
25%        0.000000
50%        0.013699
75%        0.070368
max        2.250000
Name: Overdue/NormalCount, dtype: float64

In [30]:
df_all["SuccessCount/Total"].describe()

count    907.000000
mean       0.892242
std        0.134887
min        0.200000
25%        0.844130
50%        0.928571
75%        1.000000
max        1.000000
Name: SuccessCount/Total, dtype: float64

In [31]:
df_all

     Age   Amount  AmountToReceive             AuditingTime     BorrowName  CancelCount  CertificateValidate CreditCode_x  CreditValidate  CurrentRate DeadLineTimeOrRemindTimeStr EducationDegree  FailedCount   FirstSuccessBorrowTime              FistBidTime  Gender GraduateSchool  HighestDebt  HighestPrincipal              LastBidTime    LastSuccessBorrowTime  LenderCount  ListingId  Months  NciicIdentityCheck  NormalCount  OverdueLessCount  OverdueMoreCount  OwingAmount  OwingPrincipal_x  PhoneValidate             RegisterTime  RemainFunding StudyStyle  SuccessCount  TotalPrincipal  WasteCount  AllowanceRadio              BidDateTime CreditCode_y CurrentCreditCode  Days     DebtId         Lender  ListingAmount  ListingMonths  ListingRate              ListingTime  OwingInterest  OwingNumber  OwingPrincipal_y  PastDueDay  PastDueNumber  PreferenceDegree  PriceforSale  PriceforSaleRate         Seller  StatusId  HighestDebtRatio  HighestPrincipalRatio  Overdue/NormalCount  SuccessCount/Total
0     28   3200.0                0  2018-06-28T07:59:02.140  pdu7267566128            1                    1            B               1         20.0                   2018/6/28              专科            0  2016-11-07T17:47:25.840  2018-06-28T07:58:54.000       1           许昌学院     13677.26            3200.0  2018-06-28T07:58:56.000  2018-07-28T07:28:46.000           28  119068674      12                   0          179                 0                 0     11843.24          10768.59              1  2016-11-05T21:49:32.000            0.0         成人            20         39100.0           0             0.0  2018-06-28T07:58:54.797            B                 C    31  118927401  pdu2012143746         3200.0             12         20.0  2018-06-28T07:57:22.040          39.73           10            423.40           0              0            -21.14        423.36              20.0  pdu2012143746         1          1.099872               1.000000             0.000000            0.952381
1     25   4416.0                0  2018-02-07T16:18:26.767  pdu8762813657            0                    0            B               0         22.0                    2018/2/7             NaN            0  2017-03-22T00:01:27.863  2018-02-07T16:18:17.000       2            NaN     12939.61            9000.0  2018-02-07T16:18:25.000  2018-05-10T20:30:06.000           65   98265114      12                   0           45                 4                 0      3656.42           3376.82              1  2016-06-04T17:42:40.000            0.0        NaN             7         25016.0           0             0.0  2018-02-07T16:18:20.477            B                 G    40  118885113    pdu88072202         4416.0             12         22.0  2018-02-07T16:16:50.853           1.23            5             22.17           1              1             35.13         22.04              22.0    pdu88072202         1          0.623853               0.490667             0.088889            1.000000
2     22    700.0                0  2018-04-06T16:08:25.400  pdu3840624888            0                    1            B               0         22.0                    2018/4/6          专科(高职)            0  2017-07-20T13:13:02.000  2018-04-06T16:08:23.000       1     吉林工业职业技术学院      9952.76            6000.0  2018-04-06T16:08:24.000  2018-08-25T19:37:14.000           11  106518538      12                   0           88                 1                 0      9853.31           8809.62              1  2017-07-20T12:47:20.000            0.0         普通            14         23149.0           0             0.0  2018-04-06T16:08:24.403            B                 E    39  118714017  pdu3341441621          700.0             12         22.0  2018-04-06T16:06:32.803           2.27            7             30.49           0              0              3.66         30.32              22.0  pdu3341441621         1          1.060340               0.116667             0.011364            1.000000
3     30   5000.0                0  2018-04-28T21:04:23.097  pdu5112166756            0                    0            B               0         22.0                   2018/4/28             NaN            0  2017-04-12T14:44:57.000  2018-04-28T21:03:20.000       2            NaN     22803.00           16400.0  2018-04-28T21:04:22.000  2018-08-03T07:30:03.000           59  109989905      12                   0           34                 0                 0     18929.71          17327.99              1  2017-04-12T14:36:10.000            0.0        NaN             8         51470.0           0             0.0  2018-04-28T21:03:37.230            B                 C    31  118981063  pdu3384335715         5000.0             12         22.0  2018-04-28T21:01:13.673          29.05            8            345.29           0              0            -40.97        345.25              22.0  pdu3384335715         1          1.049411               0.304878             0.000000            1.000000
4     40   8000.0                0  2018-05-28T18:48:29.440  pdu8063484672            0                    0            B               0         22.0                   2018/5/28             NaN            0  2016-11-08T23:16:09.803  2018-05-22T12:38:56.000       2            NaN     28525.33           11000.0  2018-05-28T18:48:28.000  2018-08-10T15:39:11.000          112  113598481      12                   0          101                 1                 0     28163.75          24950.97              1  2016-11-08T19:43:00.000            0.0        NaN            16         74943.0           1             0.0  2018-05-27T16:54:32.517            B                 G    31  118947931  pdu3046540237         8000.0             12         22.0  2018-05-22T12:36:33.023           3.61            9             38.51           1              1             37.83         38.50              22.0  pdu3046540237         1          1.267777               0.727273             0.009901            0.941176
..   ...      ...              ...                      ...            ...          ...                  ...          ...             ...          ...                         ...             ...          ...                      ...                      ...     ...            ...          ...               ...                      ...                      ...          ...        ...     ...                 ...          ...               ...               ...          ...               ...            ...                      ...            ...        ...           ...             ...         ...             ...                      ...          ...               ...   ...        ...            ...            ...            ...          ...                      ...            ...          ...               ...         ...            ...               ...           ...               ...            ...       ...               ...                    ...                  ...                 ...
902   23   2000.0                0  2018-04-30T12:11:29.833  pdu3777675641            0                    0            B               0         22.0                   2018/4/30             NaN            0  2017-07-02T23:29:39.000  2018-04-30T11:56:31.000       2            NaN     13460.62            3500.0  2018-04-30T12:11:29.000  2018-08-03T17:58:02.000           29  110196694      12                   0          101                 1                 0     11820.60          10569.04              1  2017-07-02T21:22:30.000            0.0        NaN            19         31500.0           1             0.0  2018-04-30T11:56:44.810            B                 G    33  118707830  pdu1621336535         2000.0             12         22.0  2018-04-30T11:54:10.753           2.91            8             34.53           0              0             91.35         34.47              22.0  pdu1621336535         1          1.026743               0.571429             0.009901            0.950000
903   23   2000.0                0  2018-05-29T01:37:08.430  pdu1178258653            0                    1            B               0         22.0                   2018/5/29              本科            0  2017-06-28T17:35:16.000  2018-05-29T01:37:03.000       1         湖南农业大学     13357.22            5000.0  2018-05-29T01:37:03.000  2018-07-17T19:01:43.000           12  114569174      12                   0           17                 5                 0     10655.43           9354.22              1  2017-06-28T17:19:13.000            0.0         普通             7         19104.0           0             0.0  2018-05-29T01:37:03.110            B                 F    32  118713461  pdu3341441621         2000.0             12         22.0  2018-05-29T01:35:20.747           8.66            9             92.41           1              1             24.09         92.28              22.0  pdu3341441621         1          0.947460               0.400000             0.294118            1.000000
904   25   1733.0                0  2018-06-28T11:35:10.997  pdu7576826778            0                    1            B               0         20.0                   2018/6/28              专科            0  2017-06-11T18:43:41.000  2018-06-28T11:35:03.000       1       中央广播电视大学     12807.28            7453.0  2018-06-28T11:35:04.000  2018-08-20T10:56:33.000           17  119103443      12                   0           68                 0                 0     11884.79          10873.77              1  2017-06-11T18:34:39.000            0.0         成人            14         33687.0           0             0.0  2018-06-28T11:35:04.297            B                 E    31  118927407  pdu2012143746         1733.0             12         20.0  2018-06-28T11:32:04.340          39.73           10            423.40           0              0             15.65        423.36              20.0  pdu2012143746         1          1.063285               0.232524             0.000000            1.000000
905   28   1801.0                0  2018-06-28T21:24:45.837  pdu8231358057            1                    1            B               0         20.0                   2018/6/28              本科            0  2017-09-01T17:51:44.000  2018-06-28T21:24:42.000       1     长江大学工程技术学院     13424.34           11500.0  2018-06-28T21:24:45.000  2018-08-14T21:42:32.000           13  119177199      12                   0           28                 0                 0     12652.28          11087.84              1  2017-09-01T17:02:36.000            0.0         普通             7         25842.0           0             0.0  2018-06-28T21:24:44.060            B                 C    31  118927617  pdu2012143746         1801.0             12         20.0  2018-06-28T21:21:56.360          39.72           10            423.40           0              0            -36.07        423.35              20.0  pdu2012143746         1          1.076647               0.156609             0.000000            0.875000
906   24  11191.0                0  2018-03-28T11:22:29.403  pdu6137458732            0                    1            B               0         22.0                   2018/3/28              本科            0  2015-12-02T13:38:08.280  2018-03-28T11:03:43.000       1         北方工业大学     28228.25           11191.0  2018-03-28T11:22:28.000  2018-07-18T07:06:25.000          135  104968182      12                   0          151                 2                 0     22486.48          20068.17              1  2015-12-02T13:36:22.000            0.0         普通            18         84401.0           1             0.0  2018-03-28T11:04:08.340            B                 E    31  118734602  pdu7633681124        11191.0             12         22.0  2018-03-28T11:00:11.987           2.28            7             30.49           0              0              4.87         30.47              22.0  pdu7633681124         1          1.193042               1.000000             0.013245            0.947368

[907 rows x 62 columns]

In [34]:
corr = df_all.corr()

In [36]:
corr[corr > 0.3]

                       Age    Amount  AmountToReceive  CancelCount  CertificateValidate  CreditValidate  CurrentRate  FailedCount  Gender  HighestDebt  HighestPrincipal  LenderCount  ListingId  Months  NciicIdentityCheck  NormalCount  OverdueLessCount  OverdueMoreCount  OwingAmount  OwingPrincipal_x  PhoneValidate  RemainFunding  SuccessCount  TotalPrincipal  WasteCount  AllowanceRadio  Days  DebtId  ListingAmount  ListingMonths  ListingRate  OwingInterest  OwingNumber  OwingPrincipal_y  PastDueDay  PastDueNumber  PreferenceDegree  PriceforSale  PriceforSaleRate  StatusId  HighestDebtRatio  HighestPrincipalRatio  Overdue/NormalCount  SuccessCount/Total
Age                    1.0       NaN              NaN          NaN                  NaN             NaN          NaN          NaN     NaN          NaN               NaN          NaN        NaN     NaN                 NaN          NaN               NaN               NaN          NaN               NaN            NaN            NaN           NaN             NaN         NaN             NaN   NaN     NaN            NaN            NaN          NaN            NaN          NaN               NaN         NaN            NaN               NaN           NaN               NaN       NaN               NaN                    NaN                  NaN                 NaN
Amount                 NaN  1.000000              NaN          NaN                  NaN             NaN          NaN          NaN     NaN     0.516202          0.746745     0.949359        NaN     NaN                 NaN          NaN               NaN               NaN     0.382968          0.399903            NaN            NaN           NaN        0.367687         NaN             NaN   NaN     NaN       1.000000            NaN          NaN            NaN          NaN               NaN         NaN            NaN               NaN           NaN               NaN       NaN          0.548857               0.640771                  NaN                 NaN
AmountToReceive        NaN       NaN              NaN          NaN                  NaN             NaN          NaN          NaN     NaN          NaN               NaN          NaN        NaN     NaN                 NaN          NaN               NaN               NaN          NaN               NaN            NaN            NaN           NaN             NaN         NaN             NaN   NaN     NaN            NaN            NaN          NaN            NaN          NaN               NaN         NaN            NaN               NaN           NaN               NaN       NaN               NaN                    NaN                  NaN                 NaN
CancelCount            NaN       NaN              NaN          1.0                  NaN             NaN          NaN          NaN     NaN          NaN               NaN          NaN        NaN     NaN                 NaN          NaN               NaN               NaN          NaN               NaN            NaN            NaN           NaN             NaN         NaN             NaN   NaN     NaN            NaN            NaN          NaN            NaN          NaN               NaN         NaN            NaN               NaN           NaN               NaN       NaN               NaN                    NaN                  NaN                 NaN
CertificateValidate    NaN       NaN              NaN          NaN                  1.0             NaN          NaN          NaN     NaN          NaN               NaN          NaN   0.374866     NaN                 NaN          NaN               NaN               NaN          NaN               NaN            NaN            NaN           NaN             NaN         NaN             NaN   NaN     NaN            NaN            NaN          NaN       0.433564          NaN          0.443489         NaN            NaN               NaN      0.443381               NaN       NaN               NaN                    NaN                  NaN                 NaN
...                    ...       ...              ...          ...                  ...             ...          ...          ...     ...          ...               ...          ...        ...     ...                 ...          ...               ...               ...          ...               ...            ...            ...           ...             ...         ...             ...   ...     ...            ...            ...          ...            ...          ...               ...         ...            ...               ...           ...               ...       ...               ...                    ...                  ...                 ...
StatusId               NaN       NaN              NaN          NaN                  NaN             NaN          NaN          NaN     NaN          NaN               NaN          NaN        NaN     NaN                 NaN          NaN               NaN               NaN          NaN               NaN            NaN            NaN           NaN             NaN         NaN             NaN   NaN     NaN            NaN            NaN          NaN            NaN          NaN               NaN         NaN            NaN               NaN           NaN               NaN       NaN               NaN                    NaN                  NaN                 NaN
HighestDebtRatio       NaN  0.548857              NaN          NaN                  NaN             NaN          NaN          NaN     NaN          NaN               NaN     0.525031        NaN     NaN                 NaN          NaN               NaN               NaN          NaN               NaN            NaN            NaN           NaN             NaN         NaN             NaN   NaN     NaN       0.548857            NaN          NaN            NaN          NaN               NaN         NaN            NaN               NaN           NaN               NaN       NaN          1.000000               0.580278                  NaN                 NaN
HighestPrincipalRatio  NaN  0.640771              NaN          NaN                  NaN             NaN          NaN          NaN     NaN          NaN               NaN     0.617988        NaN     NaN                 NaN          NaN               NaN               NaN          NaN               NaN            NaN            NaN           NaN             NaN         NaN             NaN   NaN     NaN       0.640771            NaN          NaN            NaN          NaN               NaN         NaN            NaN               NaN           NaN               NaN       NaN          0.580278               1.000000                  NaN                 NaN
Overdue/NormalCount    NaN       NaN              NaN          NaN                  NaN             NaN          NaN          NaN     NaN          NaN               NaN          NaN        NaN     NaN                 NaN          NaN          0.634628               NaN          NaN               NaN            NaN            NaN           NaN             NaN         NaN             NaN   NaN     NaN            NaN            NaN          NaN            NaN          NaN               NaN    0.428112       0.633534               NaN           NaN               NaN       NaN               NaN                    NaN                  1.0                 NaN
SuccessCount/Total     NaN       NaN              NaN          NaN                  NaN             NaN          NaN          NaN     NaN          NaN               NaN          NaN        NaN     NaN                 NaN          NaN               NaN               NaN          NaN               NaN            NaN            NaN           NaN             NaN         NaN             NaN   NaN     NaN            NaN            NaN          NaN            NaN          NaN               NaN         NaN            NaN               NaN           NaN               NaN       NaN               NaN                    NaN                  NaN                 1.0

[44 rows x 44 columns]