In [1]:
import pandas as pd
from pandas import DataFrame, Series

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 10000)

In [22]:
df = pd.read_csv("..\\UI\\UIOverDue.csv", encoding="utf-8")
df

           creationDate  overDueDays  User  listingId  借款用途    借款金额 其他事项 协议利率   单笔最高借款金额     历史最高负债  历史记录  学习形式  工作信息  年龄  征信记录       待还金额 性别 成功借款次数 成功还款次数               收入情况 文化程度     期限 正常还清次数          毕业院校        注册时间   第一次成功借款时间     累计借款金额  级别 网络借贷平台借款余额 资金运用情况  还款来源  逾期（0-15天）还清次数  逾期（15天以上）还清次数  待收金额 逾期(0-15天)还清次数 逾期(15天以上)还清次数 逾期类型
0   2018-08-27T16:55:20           90   NaN   96675442    装修   6,816   暂无  22%  24,215.00  34,312.96   NaN    普通  私营业主  31  暂未提供  34,312.96  女    15次   81 次               暂未提供   专科   6 个月   80 次      柳州职业技术学院   2016/8/16   2016/8/16  74,427.00 NaN   72527.00     装修  薪资收入            NaN            NaN   0.0           1 次           0 次  NaN
1   2018-08-27T16:55:25           90   NaN   96728060  日常消费     945   暂无  22%   8,900.00  11,841.22   NaN    普通  暂未提供  25  暂未提供  11,841.22  男     7次   15 次   2000-5000（含2000）   专科   6 个月   15 次    甘肃建筑职业技术学院   2016/7/30   2017/5/18  28,771.00 NaN       暂未提供   日常消费  经营收入            NaN            NaN   0.0           0 次           0 次  NaN
2   2018-08-27T16:55:31           90   NaN  110108777  日常消费   4,105   暂无  22%   8,800.00  10,438.32   NaN    普通   工薪族  27  暂未提供   9,192.91  男     2次    8 次               暂未提供   专科   6 个月    8 次  重庆正大软件职业技术学院   2017/8/27   2017/8/29  12,905.00 NaN       暂未提供   日常消费  经营收入            NaN            NaN   0.0           0 次           0 次  NaN
3   2018-08-27T16:55:36           89   NaN   74925147   NaN  10,500   暂无  18%  10,500.00  38,940.61   NaN    普通   工薪族  36  暂未提供   9,962.70  男    18次  128 次               暂未提供   本科  12 个月  105 次        北方工业大学   2016/7/11   2016/7/11  66,000.00 NaN    2250.00    NaN   NaN            NaN            NaN   0.0          14 次           4 次  NaN
4   2018-08-27T16:55:41           87   NaN   62351942   NaN   7,713   暂无  18%   7,713.00  19,563.18   NaN    成人   工薪族  24  暂未提供   6,517.74  男    18次  156 次               暂未提供   专科  12 个月  155 次      湖州职业技术学院    2016/5/9   2016/6/16  42,739.00 NaN       暂未提供    NaN  薪资收入            NaN            NaN   0.0           0 次           0 次  NaN
..                  ...          ...   ...        ...   ...     ...  ...  ...        ...        ...   ...   ...   ...  ..   ...        ... ..    ...    ...                ...  ...    ...    ...           ...         ...         ...        ...  ..        ...    ...   ...            ...            ...   ...           ...           ...  ...
40  2018-08-27T16:59:29           86   NaN   75208531   NaN  20,000   暂无  18%  20,000.00  42,420.63   NaN     无  暂未提供  30  暂未提供  11,082.03  女     8次   58 次               暂未提供    无  12 个月   55 次             无   2015/8/28   2016/6/29  55,497.00 NaN    8434.00    NaN  经营收入            NaN            NaN   0.0           3 次           0 次  NaN
41  2018-08-27T16:59:31           86   NaN   75208531   NaN  20,000   暂无  18%  20,000.00  42,420.63   NaN     无  暂未提供  30  暂未提供  11,082.03  女     8次   58 次               暂未提供    无  12 个月   55 次             无   2015/8/28   2016/6/29  55,497.00 NaN    8434.00    NaN  经营收入            NaN            NaN   0.0           3 次           0 次  NaN
42  2018-08-27T16:59:33           86   NaN  105785519  日常消费   5,179   暂无  22%   8,125.00  14,237.98   NaN     无  暂未提供  47  暂未提供   6,757.74  男    20次   90 次  8000-15000（含8000）    无   6 个月   89 次             无  2016/10/16  2016/10/17  46,156.00 NaN       暂未提供   日常消费  薪资收入            NaN            NaN   0.0           1 次           0 次  NaN
43  2018-08-27T16:59:35           86   NaN   75240186   NaN  13,500   暂无  18%  13,500.00  17,390.68   NaN    普通  私营业主  27  暂未提供  17,390.68  男     2次    7 次               暂未提供   专科  12 个月    3 次      三峡电力职业学院   2017/10/2   2017/10/2  21,080.00 NaN       暂未提供    NaN  经营收入            NaN            NaN   0.0           4 次           0 次  NaN
44  2018-08-27T16:59:37           86   NaN   62639628   NaN   8,873   暂无  18%   8,873.00  18,296.98   NaN  网络教育  私营业主  45  暂未提供   3,315.62  男     4次   36 次               暂未提供   本科  12 个月   21 次       哈尔滨工业大学  2016/11/21  2016/11/21  28,908.00 NaN       暂未提供    NaN  经营收入            NaN            NaN   0.0          10 次           2 次  NaN

[45 rows x 37 columns]

In [42]:
df["本次借款后负债"] = df["待还金额"].replace(',','', regex=True).astype(float) + df["借款金额"].replace(',','', regex=True).astype(float)
df["本次借款后负债/历史最高负债"] = df["本次借款后负债"] /  df["历史最高负债"].replace(',','', regex=True).astype(float)

print(df["本次借款后负债/历史最高负债"].describe())
print(df["本次借款后负债/历史最高负债"].value_counts().sort_index())
df

count    45.000000
mean      1.126569
std       0.396810
min       0.378317
25%       0.838373
50%       1.121474
75%       1.329541
max       1.808186
Name: 本次借款后负债/历史最高负债, dtype: float64
0.378317    1
0.382881    1
0.484675    1
0.512987    1
0.525485    1
           ..
1.679895    1
1.714915    1
1.758147    3
1.776278    1
1.808186    1
Name: 本次借款后负债/历史最高负债, Length: 37, dtype: int64

           creationDate  overDueDays  User  listingId  借款用途    借款金额 其他事项 协议利率   单笔最高借款金额     历史最高负债  历史记录  学习形式  工作信息  年龄  征信记录       待还金额 性别 成功借款次数 成功还款次数               收入情况 文化程度     期限 正常还清次数          毕业院校        注册时间   第一次成功借款时间     累计借款金额  级别 网络借贷平台借款余额 资金运用情况  还款来源  逾期（0-15天）还清次数  逾期（15天以上）还清次数  待收金额 逾期(0-15天)还清次数 逾期(15天以上)还清次数 逾期类型   本次借款后负债  本次借款后负债/历史最高负债  逾期(0-15天)还清次数/成功还款次数  逾期(15天以上)还清次数/成功还款次数  借款金额/单笔最高借款金额
0   2018-08-27T16:55:20           90   NaN   96675442    装修   6,816   暂无  22%  24,215.00  34,312.96   NaN    普通  私营业主  31  暂未提供  34,312.96  女    15次   81 次               暂未提供   专科   6 个月   80 次      柳州职业技术学院   2016/8/16   2016/8/16  74,427.00 NaN   72527.00     装修  薪资收入            NaN            NaN   0.0           1 次           0 次  NaN  41128.96        1.198642              0.012346              0.000000       0.281478
1   2018-08-27T16:55:25           90   NaN   96728060  日常消费     945   暂无  22%   8,900.00  11,841.22   NaN    普通  暂未提供  25  暂未提供  11,841.22  男     7次   15 次   2000-5000（含2000）   专科   6 个月   15 次    甘肃建筑职业技术学院   2016/7/30   2017/5/18  28,771.00 NaN       暂未提供   日常消费  经营收入            NaN            NaN   0.0           0 次           0 次  NaN  12786.22        1.079806              0.000000              0.000000       0.106180
2   2018-08-27T16:55:31           90   NaN  110108777  日常消费   4,105   暂无  22%   8,800.00  10,438.32   NaN    普通   工薪族  27  暂未提供   9,192.91  男     2次    8 次               暂未提供   专科   6 个月    8 次  重庆正大软件职业技术学院   2017/8/27   2017/8/29  12,905.00 NaN       暂未提供   日常消费  经营收入            NaN            NaN   0.0           0 次           0 次  NaN  13297.91        1.273951              0.000000              0.000000       0.466477
3   2018-08-27T16:55:36           89   NaN   74925147   NaN  10,500   暂无  18%  10,500.00  38,940.61   NaN    普通   工薪族  36  暂未提供   9,962.70  男    18次  128 次               暂未提供   本科  12 个月  105 次        北方工业大学   2016/7/11   2016/7/11  66,000.00 NaN    2250.00    NaN   NaN            NaN            NaN   0.0          14 次           4 次  NaN  20462.70        0.525485              0.109375              0.031250       1.000000
4   2018-08-27T16:55:41           87   NaN   62351942   NaN   7,713   暂无  18%   7,713.00  19,563.18   NaN    成人   工薪族  24  暂未提供   6,517.74  男    18次  156 次               暂未提供   专科  12 个月  155 次      湖州职业技术学院    2016/5/9   2016/6/16  42,739.00 NaN       暂未提供    NaN  薪资收入            NaN            NaN   0.0           0 次           0 次  NaN  14230.74        0.727425              0.000000              0.000000       1.000000
..                  ...          ...   ...        ...   ...     ...  ...  ...        ...        ...   ...   ...   ...  ..   ...        ... ..    ...    ...                ...  ...    ...    ...           ...         ...         ...        ...  ..        ...    ...   ...            ...            ...   ...           ...           ...  ...       ...             ...                   ...                   ...            ...
40  2018-08-27T16:59:29           86   NaN   75208531   NaN  20,000   暂无  18%  20,000.00  42,420.63   NaN     无  暂未提供  30  暂未提供  11,082.03  女     8次   58 次               暂未提供    无  12 个月   55 次             无   2015/8/28   2016/6/29  55,497.00 NaN    8434.00    NaN  经营收入            NaN            NaN   0.0           3 次           0 次  NaN  31082.03        0.732710              0.051724              0.000000       1.000000
41  2018-08-27T16:59:31           86   NaN   75208531   NaN  20,000   暂无  18%  20,000.00  42,420.63   NaN     无  暂未提供  30  暂未提供  11,082.03  女     8次   58 次               暂未提供    无  12 个月   55 次             无   2015/8/28   2016/6/29  55,497.00 NaN    8434.00    NaN  经营收入            NaN            NaN   0.0           3 次           0 次  NaN  31082.03        0.732710              0.051724              0.000000       1.000000
42  2018-08-27T16:59:33           86   NaN  105785519  日常消费   5,179   暂无  22%   8,125.00  14,237.98   NaN     无  暂未提供  47  暂未提供   6,757.74  男    20次   90 次  8000-15000（含8000）    无   6 个月   89 次             无  2016/10/16  2016/10/17  46,156.00 NaN       暂未提供   日常消费  薪资收入            NaN            NaN   0.0           1 次           0 次  NaN  11936.74        0.838373              0.011111              0.000000       0.637415
43  2018-08-27T16:59:35           86   NaN   75240186   NaN  13,500   暂无  18%  13,500.00  17,390.68   NaN    普通  私营业主  27  暂未提供  17,390.68  男     2次    7 次               暂未提供   专科  12 个月    3 次      三峡电力职业学院   2017/10/2   2017/10/2  21,080.00 NaN       暂未提供    NaN  经营收入            NaN            NaN   0.0           4 次           0 次  NaN  30890.68        1.776278              0.571429              0.000000       1.000000
44  2018-08-27T16:59:37           86   NaN   62639628   NaN   8,873   暂无  18%   8,873.00  18,296.98   NaN  网络教育  私营业主  45  暂未提供   3,315.62  男     4次   36 次               暂未提供   本科  12 个月   21 次       哈尔滨工业大学  2016/11/21  2016/11/21  28,908.00 NaN       暂未提供    NaN  经营收入            NaN            NaN   0.0          10 次           2 次  NaN  12188.62        0.666155              0.277778              0.055556       1.000000

[45 rows x 42 columns]

In [64]:
temp = df["成功还款次数"].str.extract('(\d+)').astype(int)
print(temp[0].describe())
temp[0].value_counts().sort_index()

count     45.000000
mean      57.555556
std       43.961013
min        6.000000
25%       23.000000
50%       55.000000
75%       73.000000
max      218.000000
Name: 0, dtype: float64

6      1
7      1
8      1
9      1
10     1
      ..
114    1
124    1
128    1
156    1
218    1
Name: 0, Length: 37, dtype: int64

In [25]:
df["逾期(0-15天)还清次数/成功还款次数"] = df["逾期(0-15天)还清次数"].str.extract('(\d+)').astype(int) / df["成功还款次数"].str.extract('(\d+)').astype(int)
df["逾期(15天以上)还清次数/成功还款次数"] = df["逾期(15天以上)还清次数"].str.extract('(\d+)').astype(int) / df["成功还款次数"].str.extract('(\d+)').astype(int)
df

           creationDate  overDueDays  User  listingId  借款用途    借款金额 其他事项 协议利率   单笔最高借款金额     历史最高负债  历史记录  学习形式  工作信息  年龄  征信记录       待还金额 性别 成功借款次数 成功还款次数               收入情况 文化程度     期限 正常还清次数          毕业院校        注册时间   第一次成功借款时间     累计借款金额  级别 网络借贷平台借款余额 资金运用情况  还款来源  逾期（0-15天）还清次数  逾期（15天以上）还清次数  待收金额 逾期(0-15天)还清次数 逾期(15天以上)还清次数 逾期类型   本次借款后负债  本次借款后负债/历史最高负债  逾期(0-15天)还清次数/成功还款次数  逾期(15天以上)还清次数/成功还款次数
0   2018-08-27T16:55:20           90   NaN   96675442    装修   6,816   暂无  22%  24,215.00  34,312.96   NaN    普通  私营业主  31  暂未提供  34,312.96  女    15次   81 次               暂未提供   专科   6 个月   80 次      柳州职业技术学院   2016/8/16   2016/8/16  74,427.00 NaN   72527.00     装修  薪资收入            NaN            NaN   0.0           1 次           0 次  NaN  41128.96        1.198642              0.012346              0.000000
1   2018-08-27T16:55:25           90   NaN   96728060  日常消费     945   暂无  22%   8,900.00  11,841.22   NaN    普通  暂未提供  25  暂未提供  11,841.22  男     7次   15 次   2000-5000（含2000）   专科   6 个月   15 次    甘肃建筑职业技术学院   2016/7/30   2017/5/18  28,771.00 NaN       暂未提供   日常消费  经营收入            NaN            NaN   0.0           0 次           0 次  NaN  12786.22        1.079806              0.000000              0.000000
2   2018-08-27T16:55:31           90   NaN  110108777  日常消费   4,105   暂无  22%   8,800.00  10,438.32   NaN    普通   工薪族  27  暂未提供   9,192.91  男     2次    8 次               暂未提供   专科   6 个月    8 次  重庆正大软件职业技术学院   2017/8/27   2017/8/29  12,905.00 NaN       暂未提供   日常消费  经营收入            NaN            NaN   0.0           0 次           0 次  NaN  13297.91        1.273951              0.000000              0.000000
3   2018-08-27T16:55:36           89   NaN   74925147   NaN  10,500   暂无  18%  10,500.00  38,940.61   NaN    普通   工薪族  36  暂未提供   9,962.70  男    18次  128 次               暂未提供   本科  12 个月  105 次        北方工业大学   2016/7/11   2016/7/11  66,000.00 NaN    2250.00    NaN   NaN            NaN            NaN   0.0          14 次           4 次  NaN  20462.70        0.525485              0.109375              0.031250
4   2018-08-27T16:55:41           87   NaN   62351942   NaN   7,713   暂无  18%   7,713.00  19,563.18   NaN    成人   工薪族  24  暂未提供   6,517.74  男    18次  156 次               暂未提供   专科  12 个月  155 次      湖州职业技术学院    2016/5/9   2016/6/16  42,739.00 NaN       暂未提供    NaN  薪资收入            NaN            NaN   0.0           0 次           0 次  NaN  14230.74        0.727425              0.000000              0.000000
..                  ...          ...   ...        ...   ...     ...  ...  ...        ...        ...   ...   ...   ...  ..   ...        ... ..    ...    ...                ...  ...    ...    ...           ...         ...         ...        ...  ..        ...    ...   ...            ...            ...   ...           ...           ...  ...       ...             ...                   ...                   ...
40  2018-08-27T16:59:29           86   NaN   75208531   NaN  20,000   暂无  18%  20,000.00  42,420.63   NaN     无  暂未提供  30  暂未提供  11,082.03  女     8次   58 次               暂未提供    无  12 个月   55 次             无   2015/8/28   2016/6/29  55,497.00 NaN    8434.00    NaN  经营收入            NaN            NaN   0.0           3 次           0 次  NaN  31082.03        0.732710              0.051724              0.000000
41  2018-08-27T16:59:31           86   NaN   75208531   NaN  20,000   暂无  18%  20,000.00  42,420.63   NaN     无  暂未提供  30  暂未提供  11,082.03  女     8次   58 次               暂未提供    无  12 个月   55 次             无   2015/8/28   2016/6/29  55,497.00 NaN    8434.00    NaN  经营收入            NaN            NaN   0.0           3 次           0 次  NaN  31082.03        0.732710              0.051724              0.000000
42  2018-08-27T16:59:33           86   NaN  105785519  日常消费   5,179   暂无  22%   8,125.00  14,237.98   NaN     无  暂未提供  47  暂未提供   6,757.74  男    20次   90 次  8000-15000（含8000）    无   6 个月   89 次             无  2016/10/16  2016/10/17  46,156.00 NaN       暂未提供   日常消费  薪资收入            NaN            NaN   0.0           1 次           0 次  NaN  11936.74        0.838373              0.011111              0.000000
43  2018-08-27T16:59:35           86   NaN   75240186   NaN  13,500   暂无  18%  13,500.00  17,390.68   NaN    普通  私营业主  27  暂未提供  17,390.68  男     2次    7 次               暂未提供   专科  12 个月    3 次      三峡电力职业学院   2017/10/2   2017/10/2  21,080.00 NaN       暂未提供    NaN  经营收入            NaN            NaN   0.0           4 次           0 次  NaN  30890.68        1.776278              0.571429              0.000000
44  2018-08-27T16:59:37           86   NaN   62639628   NaN   8,873   暂无  18%   8,873.00  18,296.98   NaN  网络教育  私营业主  45  暂未提供   3,315.62  男     4次   36 次               暂未提供   本科  12 个月   21 次       哈尔滨工业大学  2016/11/21  2016/11/21  28,908.00 NaN       暂未提供    NaN  经营收入            NaN            NaN   0.0          10 次           2 次  NaN  12188.62        0.666155              0.277778              0.055556

[45 rows x 41 columns]

In [66]:
print(df["逾期(15天以上)还清次数/成功还款次数"].describe())
print(df["逾期(15天以上)还清次数/成功还款次数"].value_counts().sort_index())
print("")
print(df["逾期(0-15天)还清次数/成功还款次数"].describe())
df["逾期(0-15天)还清次数/成功还款次数"].value_counts().sort_index()

count    45.000000
mean      0.016525
std       0.039320
min       0.000000
25%       0.000000
50%       0.000000
75%       0.009434
max       0.222222
Name: 逾期(15天以上)还清次数/成功还款次数, dtype: float64
0.000000    32
0.008772     1
0.009434     1
0.010309     1
0.013514     1
            ..
0.057971     1
0.066667     1
0.068627     1
0.076923     2
0.222222     1
Name: 逾期(15天以上)还清次数/成功还款次数, Length: 13, dtype: int64

count    45.000000
mean      0.124098
std       0.151284
min       0.000000
25%       0.000000
50%       0.051724
75%       0.205882
max       0.571429
Name: 逾期(0-15天)还清次数/成功还款次数, dtype: float64

0.000000    13
0.009804     1
0.011111     1
0.012346     1
0.018182     1
            ..
0.333333     1
0.384615     2
0.385965     1
0.500000     1
0.571429     1
Name: 逾期(0-15天)还清次数/成功还款次数, Length: 28, dtype: int64

In [67]:
df["借款金额/单笔最高借款金额"] = df["借款金额"].replace(',','', regex=True).astype(float) / df["单笔最高借款金额"].replace(',','', regex=True).astype(float)
print(df["借款金额/单笔最高借款金额"].describe())
print(df["借款金额/单笔最高借款金额"].value_counts().sort_index())
df

count    45.000000
mean      0.730336
std       0.322787
min       0.091917
25%       0.391807
50%       1.000000
75%       1.000000
max       1.000000
Name: 借款金额/单笔最高借款金额, dtype: float64
0.091917     1
0.106180     1
0.184629     1
0.240367     1
0.279300     1
            ..
0.637415     1
0.646764     1
0.782473     1
0.823000     1
1.000000    24
Name: 借款金额/单笔最高借款金额, Length: 21, dtype: int64

           creationDate  overDueDays  User  listingId  借款用途    借款金额 其他事项 协议利率   单笔最高借款金额     历史最高负债  历史记录  学习形式  工作信息  年龄  征信记录       待还金额 性别 成功借款次数 成功还款次数               收入情况 文化程度     期限 正常还清次数          毕业院校        注册时间   第一次成功借款时间     累计借款金额  级别 网络借贷平台借款余额 资金运用情况  还款来源  逾期（0-15天）还清次数  逾期（15天以上）还清次数  待收金额 逾期(0-15天)还清次数 逾期(15天以上)还清次数 逾期类型   本次借款后负债  本次借款后负债/历史最高负债  逾期(0-15天)还清次数/成功还款次数  逾期(15天以上)还清次数/成功还款次数  借款金额/单笔最高借款金额
0   2018-08-27T16:55:20           90   NaN   96675442    装修   6,816   暂无  22%  24,215.00  34,312.96   NaN    普通  私营业主  31  暂未提供  34,312.96  女    15次   81 次               暂未提供   专科   6 个月   80 次      柳州职业技术学院   2016/8/16   2016/8/16  74,427.00 NaN   72527.00     装修  薪资收入            NaN            NaN   0.0           1 次           0 次  NaN  41128.96        1.198642              0.012346              0.000000       0.281478
1   2018-08-27T16:55:25           90   NaN   96728060  日常消费     945   暂无  22%   8,900.00  11,841.22   NaN    普通  暂未提供  25  暂未提供  11,841.22  男     7次   15 次   2000-5000（含2000）   专科   6 个月   15 次    甘肃建筑职业技术学院   2016/7/30   2017/5/18  28,771.00 NaN       暂未提供   日常消费  经营收入            NaN            NaN   0.0           0 次           0 次  NaN  12786.22        1.079806              0.000000              0.000000       0.106180
2   2018-08-27T16:55:31           90   NaN  110108777  日常消费   4,105   暂无  22%   8,800.00  10,438.32   NaN    普通   工薪族  27  暂未提供   9,192.91  男     2次    8 次               暂未提供   专科   6 个月    8 次  重庆正大软件职业技术学院   2017/8/27   2017/8/29  12,905.00 NaN       暂未提供   日常消费  经营收入            NaN            NaN   0.0           0 次           0 次  NaN  13297.91        1.273951              0.000000              0.000000       0.466477
3   2018-08-27T16:55:36           89   NaN   74925147   NaN  10,500   暂无  18%  10,500.00  38,940.61   NaN    普通   工薪族  36  暂未提供   9,962.70  男    18次  128 次               暂未提供   本科  12 个月  105 次        北方工业大学   2016/7/11   2016/7/11  66,000.00 NaN    2250.00    NaN   NaN            NaN            NaN   0.0          14 次           4 次  NaN  20462.70        0.525485              0.109375              0.031250       1.000000
4   2018-08-27T16:55:41           87   NaN   62351942   NaN   7,713   暂无  18%   7,713.00  19,563.18   NaN    成人   工薪族  24  暂未提供   6,517.74  男    18次  156 次               暂未提供   专科  12 个月  155 次      湖州职业技术学院    2016/5/9   2016/6/16  42,739.00 NaN       暂未提供    NaN  薪资收入            NaN            NaN   0.0           0 次           0 次  NaN  14230.74        0.727425              0.000000              0.000000       1.000000
..                  ...          ...   ...        ...   ...     ...  ...  ...        ...        ...   ...   ...   ...  ..   ...        ... ..    ...    ...                ...  ...    ...    ...           ...         ...         ...        ...  ..        ...    ...   ...            ...            ...   ...           ...           ...  ...       ...             ...                   ...                   ...            ...
40  2018-08-27T16:59:29           86   NaN   75208531   NaN  20,000   暂无  18%  20,000.00  42,420.63   NaN     无  暂未提供  30  暂未提供  11,082.03  女     8次   58 次               暂未提供    无  12 个月   55 次             无   2015/8/28   2016/6/29  55,497.00 NaN    8434.00    NaN  经营收入            NaN            NaN   0.0           3 次           0 次  NaN  31082.03        0.732710              0.051724              0.000000       1.000000
41  2018-08-27T16:59:31           86   NaN   75208531   NaN  20,000   暂无  18%  20,000.00  42,420.63   NaN     无  暂未提供  30  暂未提供  11,082.03  女     8次   58 次               暂未提供    无  12 个月   55 次             无   2015/8/28   2016/6/29  55,497.00 NaN    8434.00    NaN  经营收入            NaN            NaN   0.0           3 次           0 次  NaN  31082.03        0.732710              0.051724              0.000000       1.000000
42  2018-08-27T16:59:33           86   NaN  105785519  日常消费   5,179   暂无  22%   8,125.00  14,237.98   NaN     无  暂未提供  47  暂未提供   6,757.74  男    20次   90 次  8000-15000（含8000）    无   6 个月   89 次             无  2016/10/16  2016/10/17  46,156.00 NaN       暂未提供   日常消费  薪资收入            NaN            NaN   0.0           1 次           0 次  NaN  11936.74        0.838373              0.011111              0.000000       0.637415
43  2018-08-27T16:59:35           86   NaN   75240186   NaN  13,500   暂无  18%  13,500.00  17,390.68   NaN    普通  私营业主  27  暂未提供  17,390.68  男     2次    7 次               暂未提供   专科  12 个月    3 次      三峡电力职业学院   2017/10/2   2017/10/2  21,080.00 NaN       暂未提供    NaN  经营收入            NaN            NaN   0.0           4 次           0 次  NaN  30890.68        1.776278              0.571429              0.000000       1.000000
44  2018-08-27T16:59:37           86   NaN   62639628   NaN   8,873   暂无  18%   8,873.00  18,296.98   NaN  网络教育  私营业主  45  暂未提供   3,315.62  男     4次   36 次               暂未提供   本科  12 个月   21 次       哈尔滨工业大学  2016/11/21  2016/11/21  28,908.00 NaN       暂未提供    NaN  经营收入            NaN            NaN   0.0          10 次           2 次  NaN  12188.62        0.666155              0.277778              0.055556       1.000000

[45 rows x 42 columns]

In [37]:
df["网络借贷平台借款余额"].value_counts().sort_index()

0.00          1
126906.0      2
2250.00       1
292342.00     1
58286.00      1
72527.00      1
8434.00       2
暂未提供         36
Name: 网络借贷平台借款余额, dtype: int64

In [53]:
df[(df["逾期(0-15天)还清次数/成功还款次数"] <0.2) & (df["本次借款后负债/历史最高负债"] <= 1) & (df["逾期(15天以上)还清次数/成功还款次数"] <0.0001)
  # & (df["借款金额/单笔最高借款金额"] <1)
  ]

           creationDate  overDueDays  User  listingId  借款用途    借款金额 其他事项 协议利率   单笔最高借款金额     历史最高负债  历史记录 学习形式  工作信息  年龄  征信记录       待还金额 性别 成功借款次数 成功还款次数               收入情况 文化程度     期限 正常还清次数      毕业院校        注册时间   第一次成功借款时间     累计借款金额  级别 网络借贷平台借款余额 资金运用情况  还款来源  逾期（0-15天）还清次数  逾期（15天以上）还清次数  待收金额 逾期(0-15天)还清次数 逾期(15天以上)还清次数 逾期类型   本次借款后负债  本次借款后负债/历史最高负债  逾期(0-15天)还清次数/成功还款次数  逾期(15天以上)还清次数/成功还款次数  借款金额/单笔最高借款金额
4   2018-08-27T16:55:41           87   NaN   62351942   NaN   7,713   暂无  18%   7,713.00  19,563.18   NaN   成人   工薪族  24  暂未提供   6,517.74  男    18次  156 次               暂未提供   专科  12 个月  155 次  湖州职业技术学院    2016/5/9   2016/6/16  42,739.00 NaN       暂未提供    NaN  薪资收入            NaN            NaN   0.0           0 次           0 次  NaN  14230.74        0.727425              0.000000                   0.0       1.000000
25  2018-08-27T16:58:49           89   NaN   96878735   NaN   2,793   暂无  22%  10,000.00  16,466.52   NaN   普通   工薪族  28  暂未提供  13,311.91  男    13次   63 次               暂未提供   本科   6 个月   63 次     广东商学院   2015/8/30   2015/10/1  60,842.00 NaN       暂未提供    NaN  薪资收入            NaN            NaN   0.0           0 次           0 次  NaN  16104.91        0.978040              0.000000                   0.0       0.279300
38  2018-08-27T16:59:24           87   NaN   80880611   NaN   4,430   暂无  18%   4,430.00  19,712.30   NaN    无  私营业主  34  暂未提供   5,682.15  男    20次  218 次   5000-8000（含5000）    无   9 个月  207 次         无    2015/9/7   2016/1/17  37,130.00 NaN       暂未提供    NaN  薪资收入            NaN            NaN   0.0          11 次           0 次  NaN  10112.15        0.512987              0.050459                   0.0       1.000000
40  2018-08-27T16:59:29           86   NaN   75208531   NaN  20,000   暂无  18%  20,000.00  42,420.63   NaN    无  暂未提供  30  暂未提供  11,082.03  女     8次   58 次               暂未提供    无  12 个月   55 次         无   2015/8/28   2016/6/29  55,497.00 NaN    8434.00    NaN  经营收入            NaN            NaN   0.0           3 次           0 次  NaN  31082.03        0.732710              0.051724                   0.0       1.000000
41  2018-08-27T16:59:31           86   NaN   75208531   NaN  20,000   暂无  18%  20,000.00  42,420.63   NaN    无  暂未提供  30  暂未提供  11,082.03  女     8次   58 次               暂未提供    无  12 个月   55 次         无   2015/8/28   2016/6/29  55,497.00 NaN    8434.00    NaN  经营收入            NaN            NaN   0.0           3 次           0 次  NaN  31082.03        0.732710              0.051724                   0.0       1.000000
42  2018-08-27T16:59:33           86   NaN  105785519  日常消费   5,179   暂无  22%   8,125.00  14,237.98   NaN    无  暂未提供  47  暂未提供   6,757.74  男    20次   90 次  8000-15000（含8000）    无   6 个月   89 次         无  2016/10/16  2016/10/17  46,156.00 NaN       暂未提供   日常消费  薪资收入            NaN            NaN   0.0           1 次           0 次  NaN  11936.74        0.838373              0.011111                   0.0       0.637415

In [85]:
df_unknow = pd.read_csv("..\\UISimulation\\UISimMain.csv", encoding="utf-8")

def calc_column(df):
    df["本次借款后负债/历史最高负债"] = df["本次借款后负债"] /  df["历史最高负债"]
    df["逾期(0-15天)还清次数/成功还款次数"] = df["逾期（0-15天）还清次数"] / df["成功还款次数"]
    df["逾期(15天以上)还清次数/成功还款次数"] = df["逾期（15天以上）还清次数"] / df["成功还款次数"]
    df["借款金额/单笔最高借款金额"] = df["借款金额"] / df["单笔最高借款金额"]
    return df

df_unknow = calc_column(df_unknow)

print(df_unknow[(df_unknow["逾期(0-15天)还清次数/成功还款次数"] <0.2) & (df_unknow["本次借款后负债/历史最高负债"] <= 1) & (df_unknow["逾期(15天以上)还清次数/成功还款次数"] <0.0001)
  & (df_unknow["借款金额/单笔最高借款金额"] <1) 
  & (df_unknow["网络借贷平台借款余额"] < 8000)
  & (df_unknow["成功还款次数"] > 25)
  ].shape)

print(df_unknow["成功还款次数"].describe())
print(df_unknow["成功还款次数"].value_counts().sort_index())

print(df_unknow["网络借贷平台借款余额"].describe())
print(df_unknow["网络借贷平台借款余额"].value_counts().sort_index())
df_unknow

(4001, 35)
count    11439.000000
mean        39.826121
std         36.533183
min          1.000000
25%         11.000000
50%         31.000000
75%         57.000000
max        312.000000
Name: 成功还款次数, dtype: float64
1       61
2      358
3      415
4      399
5      302
      ...
238      1
243      2
255      1
282      1
312      1
Name: 成功还款次数, Length: 221, dtype: int64
count     11439.000000
mean       9739.887752
std       29489.418433
min           0.000000
25%           0.000000
50%           0.000000
75%        6603.500000
max      618291.000000
Name: 网络借贷平台借款余额, dtype: float64
0.0         6625
11.0           1
27.0           1
30.0           3
35.0           1
            ...
370354.0       1
376953.0       1
440838.0       1
491847.0       1
618291.0       1
Name: 网络借贷平台借款余额, Length: 3782, dtype: int64

                User         creationDate  listingId  借款用途     借款金额  协议利率  单笔最高借款金额    历史最高负债 学习形式  工作信息  年龄      待还金额 性别  成功借款次数  成功还款次数               收入情况 文化程度  期限   本次借款后负债  正常还清次数         毕业院校        注册时间                第一次成功借款时间   累计借款金额 级别  还款来源  逾期（0-15天）还清次数  逾期（15天以上）还清次数  网络借贷平台借款余额                title strategy  本次借款后负债/历史最高负债  逾期(0-15天)还清次数/成功还款次数  逾期(15天以上)还清次数/成功还款次数  借款金额/单笔最高借款金额
0      pdu1****87721  2018-10-11 11:07:01  131541698    医疗   1000.0  24.0    3000.0   5657.12    无  暂未提供  20   4203.15  女       8      63             2000以下    无   6   5203.15      63            无  2017-05-05      2017-05-05 18:41:11  13497.0  C  个人存款              0              0         0.0      手机app用户的第9次闪电借款      NaN        0.919752               0.00000                   0.0       0.333333
1      pdu3****38085  2018-10-11 11:08:49  131541935  日常消费   3138.0  24.0    7900.0   8952.54    无  私营业主  47   5075.10  男      10      29   5000-8000（含5000）    无   3   8213.10      29            无  2017-07-09      2017-07-09 15:18:27  26293.0  C  经营收入              0              0         0.0  pdu3****38085第11次借款      NaN        0.917404               0.00000                   0.0       0.397215
2      pdu8****77634  2018-10-11 11:08:02  131541818  日常消费    500.0  24.0    4000.0   4934.06    无  私营业主  21      0.00  男       2      10   2000-5000（含2000）    无   3    500.00       9            无  2017-11-09      2017-11-09 12:52:38   6000.0  C  薪资收入              1              0      2736.0   pdu8****77634第3次借款      NaN        0.101336               0.10000                   0.0       0.125000
3      pdu6****32570  2018-10-11 11:06:35  131541634    装修   8000.0  20.0   10500.0  11970.45    无  私营业主  23      0.00  女       1       3   5000-8000（含5000）    无   6   8000.00       3            无  2017-11-30      2017-12-01 20:19:28  10500.0  B  薪资收入              0              0         0.0      手机app用户的第2次闪电借款      NaN        0.668312               0.00000                   0.0       0.761905
4      pdu4****21077  2018-10-11 11:08:39  131541911  日常消费   4421.0  20.0    6099.0  16708.50   成人  暂未提供  26  14767.61  女      27     118   5000-8000（含5000）   专科   6  19188.61     118       大连工业大学  2017-04-16      2017-04-16 12:52:14  77740.0  B  薪资收入              0              0         0.0     手机app用户的第28次闪电借款      NaN        1.148434               0.00000                   0.0       0.724873
...              ...                  ...        ...   ...      ...   ...       ...       ...  ...   ...  ..       ... ..     ...     ...                ...  ...  ..       ...     ...          ...         ...                      ...      ... ..   ...            ...            ...         ...                  ...      ...             ...                   ...                   ...            ...
11434  pdu7205616806                  NaN  132415447   NaN   5000.0  24.0   10000.0  12682.11    无  私营业主  31   6942.45  男       8      38           15000及以上    无   6  11942.45      38            无  2017-09-23  2017-09-26T17:59:10.000  35904.0  C  经营收入              0              0     24210.0                  NaN      NaN        0.941677               0.00000                   0.0       0.500000
11435  pdu6281216568                  NaN  132415594   NaN    852.0  24.0    4900.0   8400.49   普通  暂未提供  22   7358.41  女       9      64  8000-15000（含8000）   专科   6   8210.41      62  山东中医药高等专科学校  2017-02-01  2017-03-18T21:11:22.570  19129.0  C  经营收入              2              0         0.0                  NaN      NaN        0.977373               0.03125                   0.0       0.173878
11436    pdu33607144                  NaN  132415785   NaN  10000.0  24.0   13000.0  16278.05    无  暂未提供  34   4690.12  男       9      76  8000-15000（含8000）    无   3  14690.12      76            无  2015-10-30  2015-10-30T15:48:27.610  50393.0  C  薪资收入              0              0     33333.0                  NaN      NaN        0.902450               0.00000                   0.0       0.769231
11437  pdu5****12738  2018-10-18 15:28:29  132415601    装修  10400.0  20.0   10000.0  13597.74    无  暂未提供  27      0.00  女       1       8   5000-8000（含5000）    无  12  10400.00       8            无  2017-04-21      2018-03-01 09:35:41  10000.0  B  薪资收入              0              0     12000.0      手机app用户的第2次闪电借款      NaN        0.764833               0.00000                   0.0       1.040000
11438  pdu7****40540  2018-10-18 15:30:03  132415826    旅游   6904.0  24.0    8236.0  11327.28    无  私营业主  45   3074.30  男       3      16           15000及以上    无   3   9978.30      16            无  2017-08-31      2017-09-06 18:32:25  18963.0  C  薪资收入              0              0         0.0   pdu7****40540第4次借款      NaN        0.880909               0.00000                   0.0       0.838271

[11439 rows x 35 columns]